@charset "utf-8";

@font-face {
	font-family:heiti;
	src: url(heiti_xi.ttc);
}
.fam_yh{ font-family:"微软雅黑";}
.fam_ht{font-family:heiti;}
.red43{color: #ee4643;}
.gray99{color: #999;}
.clearfix{zoom:1;}
.clearfix{content: "";display:block;height: 0rem;margin: 0rem;clear: both;}
html,body{height: 100%;width: 100%;}