@charset "utf-8";
body,html,ul,li,nav,header,article,footer,div,i,span,h2,h3,p{
	margin: 0;
	padding: 0;
}
body,html{width: 100%;height: 100%;}
i{
	font-style: normal;
}
li{
	list-style: none;
} 
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clear{
	*zoom:1;
	zoom:1;
}
.clear:after{
	content: ".";
	width: 0px;
	height: 0px;
	display: block;
	clear: both;
}

.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
aside{
	position: fixed;
	top: 0;
	width: 260px;
	height: 100%;
	background: #6ecadc;
	overflow-y: scroll;

}
aside .wraper{
	padding: 20px;
}
aside h3{
	margin-top:20px;
	font-size: 18px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
}
h2{
	margin-top: 20px;
	padding:0 10px;
	font-size: 22px;
	text-align: center;
}
.photo{
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}
article{
	margin: 0px;
	margin-left: 260px;
	/*box-shadow: 2px 3px 1px #333;*/
}
nav{
	padding: 30px;
	padding-bottom: 10px;
}
nav ul li{
	float: left;
	width: 160px;
}
nav a:hover{
	color: #6ecadc;
}
.map-id{
	width: 100%;
	height: 180px;
}
.glyphicon:before
{
	position: relative;
    top: 1px;
    /* display: inline-block; */
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
    	margin-right: 9px;
    font-size: 14px;
    color: #6ecadc;
}
.glyphicon-file:before {

    content: "\e022";
}
.glyphicon-print:before {
    content: "\e045";
}

.content{
	/*background:#333;*/
	margin-right: 48px;
}
.content .title{
	padding: 5px 41px 5px 12px;
	font-size: 24px;
	font-weight: 500;
    line-height: 1.1;
}
.content .section1 .title{
	border-bottom:3px solid #6ecadc;
}
.content .section2 .title{
	border-bottom:3px solid #e9a820;
}
.content .section3 .title{
	border-bottom:3px solid #3eb991;
}
.content .section4 .title{
	border-bottom:3px solid #b96b3e;
}
.content .section5 .title{
	border-bottom:3px solid #5373ce;
}
.content .section6 .title{
	border-bottom:3px solid #c568b5;
}
.content .section7 .title{
	border-bottom:3px solid #e84c54;
}
.content .detail{
	padding:24px 0 0 32px;
}
.content .section{
	padding:16px 0;
	line-height: 1.5;
}
.content p{
	margin-bottom: 2px;
}
.content .getIcon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(imgs/选择.png);
	background-size: contain;
}
.content i{
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-right: 6px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.content .education{
	background-image: url(imgs/教育1.png);
	/*background-position: -;*/
}
.content .skill{
	background-image: url(imgs/技能1.png);
}
.content .company{
	background-image: url(imgs/公司1.png);
}
.content .program{
	background-image: url(imgs/项目.png);
}
.content .course{
	background-image: url(imgs/课程.png);
}
.content .reward{
	background-image: url(imgs/获奖证书.png);
}
.content .evaluation{
	background-image: url(imgs/评价.png);
}
.content .subTitle{
	margin-top: 8px;
	font-weight: 600;
}
.content .explain
{
	padding-left: 2rem;
}

.list-wrap{
	width: 100%;
	padding: 30px;

}
.subContent .title{
	width: 60%;
	/*height: 40px;*/
	background: #6ecadc;
	color: white;
}
.subContent .item{
	padding: 16px 0;
}